* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clean {
    overflow: hidden;
}

.regular {
    font-family: 'Scada';
    font-weight: 400;
}

.bold {
    font-family: 'Scada';
    font-weight: 700;
}

/* ----------------- HEADER --------------------- */
.logo img {
    max-width: 100%;
    height: auto;
}

header {
    margin-top: 15px;
}

.header-up {
    margin-top: 15px;
}

.red-button {
    margin-left: 46px;
}

.red-button button {
    padding: 10px;
    background-color: #c31e2f;
    border-radius: 6px;
    color: #fff;
    margin-top: 8px;
}
.red-button button a {
    text-decoration:none;
    vertical-align: middle;
    font-size: 13px;
}

.text p {
    font-size: 18.23px;
}

.phone-number {
    font-size: 25px;
}

/* ---------------- NAV MENU -------------------*/

menu {
	display: table;
	width: 100%;
}

menu ul {
	display: table-row;
}

menu li {
	display: table-cell;
}

menu a {
	width: 100%;
	display: inline-block;
	padding: 12px 10px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}

nav ul li a:hover {
    opacity: 0.5;
}

.black-bg {
    background-color: #000;
}

/* ---------------- FIRST-PART ------------------------- */

.first-part {
    height: 770px;
    background-image: url(../img/slider/slider_image_1.png);
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
}


.first-part h2 {
    font-size: 45px;
}

.first-part > h2 {
	width: 70%;
	text-align: center;
	padding-top: 60px;
}


		/* >>> FORM  */
		/*410 * 410*/
#form {
	background-color: #c31e2f;
	display: inline-block;
	position: absolute;
	left: 40%;
	top: 30%;
	text-align: center;
	width: 410px;
	height: 410px;
	transform: skew(0, -5deg);
}
#form input, 
#form h2, 
#form p,
#form button {
	transform: skew(0, 5deg);
}
#form input {
	display: block;
	margin: auto;
	padding: 10px 10px;
	border-radius: 5px;
	margin-bottom: 20px;
	width: 80%;
	color: #6e6e6e;
}
#form h2 {
	margin-top: 35px;
	color: #fff;
}

#form p {
	font-size: 30px;
	color: #fff;
	margin: 30px 12px 40px 12px;
	font-family: 'Scada';
	font-weight: 700;
	line-height: 85%;
}
#form button {
	padding: 10px 12px;
	width: 65%;
	border-radius: 5px;
	background-color: #868686;
	color: #fff;
	text-transform: uppercase;
}
		/* >>> TEXT-BOX  */
		/*230 * 270*/
div.text-box {
	display: inline-block;
	height: 230px;
	width: 270px;
	background-color: rgba(35, 32, 27, 0.95);
	transform: skew(0, -5deg);
	position: absolute;
	top: 45%;
	left: 24.5%;
}

div.text-box p {
	margin: 50px 27px 40px 10px;
	font-size: 23px;
	color: #fff;
	text-align: right;
	transform: skew(0, 5deg);
}

/* -------------------- SECOND-PART ------------------------- */

.second-part {
	margin-bottom: 200px;
}

.second-part img {
	max-width: 230px;
	display:block;
	height: 145px;
}

.second-part h2 {
	margin: 70px 0 80px 0;
	font-size: 45px;
	text-align: center;
}

.second-part ul {
	display: block;
	text-align: center;
}

.second-part li {
	display: inline-block;
	margin: 5px;
}

.second-part p {
	font-size: 25px;
	margin-top: 25px;
	
}

/*---------------------- THIRD-PART ----------------------------*/

.third-part {
    height: 1000px;
    background: url(../img/reason/big_middle_image_1.png) no-repeat center;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
}

.third-part h2 {
	font-size: 45px;
	text-align: center;
	margin: 140px 0 70px 0;
}

.third-part .box-reason {
	text-align: center;
}

.third-part .box-reason li {
	width: 45%;
	display: inline-block;
	padding: 20px;
	vertical-align: top;
}

.third-part p {
	font-size: 18px;
	font-weight: 700;
}

.third-part h3 {
	font-size: 25px;
	color: #fff;
	margin-bottom: 20px;
}
.third-part .box-reason h3, .third-part .box-reason p {
	max-width: 340px;
	margin-left: 70px;
	text-align: left;
	padding-left: 50px;
}

.third-part .bg {
	background-color: #000;
	float: left;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	padding: 20px;
	margin-right: 20px;
}

.third-part img {
	width: 60px;
	height: 60px;
	float: left;	
}

/*------------------- FOURTH-PART ---------------------------*/

.fourth-part h2 {
	font-size: 45px;
	text-align: center;
	margin-top: 100px;
}

.fourth-part h3 {
	font-size: 45px;
	text-align: center;
	margin-bottom: 70px;
}

.fourth-part p {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	font-size: 25px;
	text-align: center;
    margin-bottom: 65px;
    margin-right: 2%;
}

/*--------------------- FIFTH-PART --------------------------*/

.fifth-part .background {
    height: 1000px;
    background: url(../img/part_1/background_1.png) no-repeat center;
/*    position: relative;*/
}

.fifth-part .foreground {
    height: 1000px;
    background: url(../img/part_1/foreground_1.png) no-repeat center;
    position: relative;
}

.fifth-part ul {
    margin-left: 60px;
}

.fifth-part li {
    display: block;
    padding: 40px;
} 


.fifth-part h2 {
    display: inline-block;
    font-size: 45px;
    width: 100%;
    text-align: center;
    margin-top: 65px;
    text-transform: uppercase;
    margin-left: 50px;
}

.fifth-part p {
    font-size: 25px;
}

.fifth-part img {
	width: 60px;
	height: 60px;	
}

.fifth-part .bg {
    background-color: rgba(33, 32, 37, 0.91);
	float: left;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	padding: 20px;
	margin-right: 20px;
}

.fifth-part ul li:nth-child(even) {
    font-weight: 700;
}

.fifth-part li p:nth-child(even) {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.fifth-part li p:nth-child(odd) {
    font-size: 25px;
    padding-left: 120px;    
}







