* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clean {
    overflow: hidden;
}

.regular {
    font-family: 'Scada';
    font-weight: 400;
}

.bold {
    font-family: 'Scada';
    font-weight: 700;
}

/* HEADER */
.logo img {
    max-width: 100%;
    height: auto;
}

header {
    margin-top: 15px;
}

.header-up {
    margin-top: 15px;
}

.red-button {
    margin-left: 46px;
}

.red-button button {
    padding: 10px;
    background-color: #c31e2f;
    border-radius: 6px;
    color: #fff;
    margin-top: 8px;
}
.red-button button a {
    text-decoration:none;
    vertical-align: middle;
    font-size: 13px;
}

.text p {
    font-size: 18.23px;
}

.phone-number {
    font-size: 25px;
}

/* NAV MENU */

nav ul li {
    list-style: none;
    overflow: hidden;
    display: inline;
}

nav ul li a:hover {
    opacity: 0.5;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 15px 30px;
    color: #fff;
    font-size: 16px;   
    float: left;
}

.black-bg {
    background-color: #000;
}

/* FIRST PART */

.first-part {
    height: 770px;
    background-image: url(../img/slider/slider_image_1.png);
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
}

.first-part h2 {
    font-size: 45px;
}

.first-part form h2,
.first-part form p {
    color: #fff;
    text-align: center;
}


.form-application {
    display: inline-block;
    background-color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 410px;
    height: 380px;
/*    transform: skewY(-20deg);*/
}

.form-application form {
/*    transform: skewY(20deg);*/
    padding: 40px;
}

.form-application input,
.form-application button{
    display: block;
    margin: auto;
}

.form-application input {
    padding: 10px 5px;
    width: 100%;
    border-radius: 5px;
}


.form-application form p {
    font-size: 30px;
}

.form-application form button {
    font-size: 18px;
    padding: 20px 60px;
}




























